<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.passenger_name %></td>
  <td><%= ticket.departure_station.title %></td>
  <td><%= ticket.destination_station.title%></td>
  <td><%= link_to 'Show', ticket %></td>
  <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
  <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
