<%= form_for(@carriage) do |f| %>
  <%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <%= f.label :carriage_type, 'Carriage type:' %>

    <%= f.label :carriage_type, 'Сoupe', value: 'coupe' %>
    <%= f.radio_button :carriage_type, 'coupe' %>

    <%= f.label :carriage_type, 'Sleeping', value: 'sleeping' %>
    <%= f.radio_button :carriage_type, 'sleeping', checked: true %><br>
  </div>

  <div class="field">
    <%= f.label :upper_berths, 'Number of upper berths:' %><br>
    <%= f.number_field :upper_berths, step: 'any'%><br>
  </div>

  <div class="field">
    <%= f.label :lower_berths, 'Number of lower berths:' %><br>
    <%= f.number_field :lower_berths, step: 'any'%><br>
  </div>

  <div class="field">
    <%= f.label :train_id, 'Train number:' %><br>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>