<%= form_for [@train, @carriage] do |f| %>
  <%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <%= f.label :carriage_type, 'Carriage type:' %><br>
    <%= f.select(:carriage_type, Carriage::AVAILABLE_CARRIAGES)%><br>
  </div>

  <div class="field">
    <%= f.label :upper_berths, 'Number of upper berths:' %><br>
    <%= f.number_field :upper_berths %><br>
  </div>

  <div class="field">
    <%= f.label :lower_berths, 'Number of lower berths:' %><br>
    <%= f.number_field :lower_berths %><br>
  </div>

  <div class="field">
    <%= f.label :side_upper_berths, 'Number of side upper berths:' %><br>
    <%= f.number_field :side_upper_berths %><br>
  </div>

  <div class="field">
    <%= f.label :side_lower_berths, 'Number of side lower berths:' %><br>
    <%= f.number_field :side_lower_berths %><br>
  </div>

  <div class="field">
    <%= f.label :sitting_berths, 'Number of sitting berths:' %><br>
    <%= f.number_field :sitting_berths %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>