<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Route station(-s):</strong>
</p>

<p>
  <% if @route.waypoints.present? %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Position</th>
          <th>Departure datetime</th>
          <th>Arrival datetime</th>
        </tr>
      </thead>
      <tbody>
        <% @route.waypoints.ordered.each do |waypoint| %>
          <tr>
            <td><%= waypoint.station.title %></td>
            <%= form_for waypoint, url: route_waypoint_path(@route, waypoint), method: :patch do |f| %>
              <td>
                <%= f.text_field :position %>
              <td>
                <%= f.datetime_select :departure_time %>
              </td>
              <td>
                <%= f.datetime_select :arrival_time %>
                <%= f.submit 'Change' %>
              </td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Empty
  <% end %>
</p>

<p>
  <strong>Train(-'s) number(-s) on this route:</strong>
</p>

<p>
  <% if @route.trains.present? %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <%end%>
    </ul>
  <% else %>
    Empty
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
